body, html {
	width: 100%;
	height: 100%;
}

.banner-text {
	padding-top: 8em;
}

.background-img {
	background-image: url('https://nickarmet.github.io/background.jpg');
	background-position: center;
	background-size: cover;
	height: 100%;
}

.text-content {
	padding-top: 14em;
}

.btn {
	text-transform: uppercase;
	border-radius: 300px;
	margin-top: 90px;
}

.nav-link {
	color: white;
	padding-left: 2em;
	padding-top: 1.5em;
}

h2 {
	font-size: 3em;
	color: black;
}